<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>List All Events</title>
  <link href="/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="/logo-no-background.png" alt="Event Management App Logo" width="150px" height="100px">
      </a>
    </div>
  </nav>

  <main class="container">
    <% if(category===null){%>
      <section style="padding: 20px; background-color: lightgray; margin-bottom: 30px;">
        <h1 class="text-center my-5">Event Management App</h1>
        <div style="display:flex; justify-content:center; align-items:center;">
            <a href="/" class="btn btn-primary">Back to Homepage</a>
        </div>
  
    </section>
      <div>
        <h2 class="text-center my-5">No valid category found</h2>
        <h3 class="text-center my-5">Insert new category ID in the URL or go back to Homepage</h3>
      </div>
      <% } else{ %>
    <section style="padding: 20px; background-color: lightgray; margin-bottom: 30px;">
      <h1 class="text-center my-5">Event Management App</h1>
      <div style="display:flex; justify-content:center; align-items:center;">
        <a href="/" class="btn btn-primary">Back to Homepage</a>
      </div>

    </section>

    <h2 class="text-center my-5">Category Detail Page</h2>
    <hr>

      <div class="card">
        <div class="card-body">

          <h5 class="card-title" style="text-align: center;">
            <%= category.name %>
          </h5>

          <div style="display: flex; flex-direction: column; align-items: center;">
            <img src="/<%= category.image %>" alt="">
            <div class="text-left" style="font-weight: bold;">
              <label class="col-form-label">Category ID:</label>
            </div>
            <%= category.category_id %>


              <div class="text-left" style="font-weight: bold;">
                <label class="col-form-label">Category Name:</label>
              </div>
              <%= category.name %>


                <div class="text-left" style="font-weight: bold;">
                  <label class="col-form-label">Category Description:</label>
                </div>
                <%= category.description %>


                  <div class="text-left" style="font-weight: bold;">
                    <label class="col-form-label">Category Created Date Time:</label>
                  </div>
                  <%= formatDate(category.createdAt) %>

          </div>
        </div>

      </div>
      </div>


      <div class="card" style="margin-top: 30px;">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;">Associated Events</h5>

          <div class="container mt-5">

            <table class="table table-striped mt-4">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Start</th>
                  <th>End</th>
                  <th>Duration</th>
                  <th>Is Active</th>
                  <th>Capacity</th>
                  <th>Tickets Available</th>
                  <th>Category ID</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <% eventDB.forEach((event)=> { %>
                  <tr>
                    <td>
                      <%= event.id %>
                    </td>
                    <td>
                      <%= event.name %>
                    </td>
                    <td>
                      <%= event.description %>
                    </td>
                    <td>
                      <%= formatDate(event.startDateTime) %>
                    </td>
                    <td>
                      <%= formatDate(event.endDateTime) %>
                    </td>
                    <td>
                      <%= formatDuration(event.durationInMinutes) %>
                    </td>
                    <td><input class="form-check-input" type="checkbox" value="" <%=event.isActive ? "checked" : "" %>
                      disabled></td>
                    <td>
                      <%= event.capacity %>
                    </td>
                    <td>
                      <%= event.ticketsAvailable %>
                    </td>
                    <td>
                      <!-- Loop through the categories array within the event document -->
                      <% event.categories.forEach((category, index)=> { %>
                        <%= category.category_id %>
                          <%= index < event.categories.length - 1 ? ', ' : '' %>
                            <% }); %>
                    </td>
                    <td>
                      <a href="/event/31239552/<%= event.id %>" class="btn btn-primary">View</a>
                    </td>
                  </tr>
                  <%}); %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <% }; %>
  </main>
</body>

<footer class="text-center py-3 mt-5" style="padding: 20px; background-color: lightgray;">
  <p>&copy; 2023 Avalanche. All rights reserved.</p>
</footer>